
.timelineContainer{
    display: flex
}

.timerulerContainer{
    order: 1;
    width: 110px;
}

.timesliderContainer{
    order: 2;
    width: 1px;
    background-color: #eee
}

.day{
    position: relative;
}

.dayTitle{
    color: #aaa;
    position: absolute;
    top: 8px;
    font-size: 120%;
    text-align: center;
    font-weight: 100;
    left:50%;
    transform: translateX(-50%);
}

.hourWrapper{
    padding-right: 20%;
    position: relative;
    height: 60px;
    color: #aaa;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.hour{
    composes: fffBackground from "variables" smallerFont from "variables";
    padding-right: 20%;
    line-height: 60px;
    text-align: right;
    top:50%;
    position: relative;
}

.slidersWrapper{
    height: 100%;
    position: relative;
}

.slidersNode{
    z-index: 10;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #bbb;
    position: absolute;
    transform: translate(-50%, -50%);
}

.slidersEdge{
    z-index: 9;
    width: 2px;
    background-color: #ccc;
    position: absolute;
    transform: translateX(-50%);
}
